{{extend 'layout.html'}}
<div class="header-content">
    <div class="row">
        <div class="col-md-7 h">
            <h1 class="h11"><p>Welcome</p><p>to</p><p>PPU Reg</p><br></h1>
        </div>
        <div class="col-md-5 s" >
            <img src="https://www.ppu.edu/p/sites/all/themes/ppu2018/logo.png" alt="ppu-logo-image" width="350px" class="img-fluid">
        </div>
    </div>
</div>
<style>
    body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    background-color: beige;
    background-size: cover;
    font-family: "Lucida Console";
}
.header-content {
    padding-top: 105px;
    padding-bottom: 40px;
    padding-left: 60px;
}
.h11{
    font-size: 50px;
    padding-left: 60px;
    font-family: "Lucida Console";
    
}
.btn{
    background-color:burlywood;
    margin-left: 50px;
    width: 220px;
    font-size: 20px;
    color: #000000;
}
.btn a{
    color: black;
    text-decoration: none;
}


</style>

       
