{{extend 'layout.html'}}

<div class="row"> 
  <div id="web2py_user_form" class="col-lg-6" style="background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-radius:5px;padding: 20px">
    <h2>
      {{=T('submit_signup') if request.args(0) == 'submit_signup' else T('Log In') if request.args(0) == 'signin' else T(request.args(0).replace('_',' ').title())}}
    </h2>
    {{=form}}
    {{if request.args(0)=='login' and not 'register' in auth.settings.actions_disabled:}}
    <a href="{{=URL('welcome/submit_signup')}}">{{=T('submit_signup')}}</a>
    <br/>
    {{pass}}
    {{pass}}
    {{if request.args(0)=='register':}}
    <a href="{{=URL('welcome/signin')}}">{{=T('signin')}}</a>
    {{pass}}
  </div>
</div>



